/* ~~ Variables ~~ */
:root {
    /* ~~ Colors ~~ */
    --bgColor: rgb(23, 23, 23);
    --textColor: rgb(230, 230, 230);
    --subtextColor: rgb(23, 23, 23);
    --primColor: rgb(230, 230, 230);
    --seconColor: rgb(160, 160, 160);
    --tertColor: rgb(255, 100, 100);
    --tertColorAccent: rgb(209, 88, 88);
    --quatColor: rgb(110, 170, 255);
    --transparent: rgb(255, 255, 255, 0);

    /* ~~ Numbers ~~ */
    --spacing: 0px;
    --cornerRadius: 10px;
    --transitionTime: 0.2s;
}

/* ~~ Main ~~ */
body {
    background: var(--bgColor);
    color: var(--textColor);
    height: 100vh;
    padding: var(--spacing);
    margin: 0px;
    user-select: none;

    display: grid;
    grid-template-columns: 18.75% 18.75% 37.5% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas:
        "gas brake accelX buttons"
        "steering steering accelY map"
        "velocity velocity velocity map"
        "laps laps laps map";
}

.gasGraph {
    grid-area: gas;
}

#gasGraph {
    height: 100%;
}

.brakeGraph {
    grid-area: brake;
}

#brakeGraph {
    height: 100%;
}

.accelXGraph {
    grid-area: accelX;
}

#accelXGraph {
    height: 100%;
}

.steeringGraph {
    grid-area: steering;
}

#steeringGraph {
    height: 100%;
}

.accelYGraph {
    grid-area: accelY;
}

#accelYGraph {
    height: 100%;
}

.velocityGraph {
    grid-area: velocity;
}

#velocityGraph {
    height: 100%;
}

.laps {
    grid-area: laps;
}

#laps {
    height: 100%;
}

.buttons {
    grid-area: buttons;
}

#startStopButton {
    width: 45%;
    height: 50px;
    border-radius: var(--cornerRadius);
    border-width: calc(var(--cornerRadius) / 2);
    border-color: var(--primColor);
    background-color: var(--quatColor);
    color: var(--textColor);
}

#resetButton {
    width: 45%;
    height: 50px;
    border-radius: var(--cornerRadius);
    border-width: calc(var(--cornerRadius) / 2);
    border-color: var(--primColor);
    background-color: var(--tertColor);
    color: var(--textColor);
}

input,
textarea,
button {
    outline: none;
}
