/* ~~ Variables ~~ */
:root {
    /* ~~ Colors ~~ */
    --bgColor: rgb(23, 23, 23);
    --textColor: rgb(230, 230, 230);
    --subtextColor: rgb(23, 23, 23);
    --primColor: rgb(230, 230, 230);
    --seconColor: rgb(160, 160, 160);
    --tertColor: rgb(255, 100, 100);
    --tertColorAccent: rgb(209, 88, 88);
    --quatColor: rgb(110, 170, 255);
    --transparent: rgb(255, 255, 255, 0);

    /* ~~ Numbers ~~ */
    --spacing: 10px;
    --cornerRadius: 3px;
    --transitionTime: 0.2s;
}

/* ~~ Main ~~ */
body {
    background: var(--bgColor);
    color: var(--textColor);
    height: 100vh;
    padding: var(--spacing);
    user-select: none;
}

input, textarea, button {
    outline: none;
}